<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="{% url 'blog:article' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <h2>BLOG</h2>
              </a>
    
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                  <a href="{% url 'blog:article' %}" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                    ブログ記事
                  </a>
                </li>

                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'blog:admin' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                        編集
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blog:create' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                        投稿
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'signup:logout' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                        ログアウト
                        </a>
                    </li>
                {% endif %}

              </ul>
            </div>
          </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
          <div class="container d-flex flex-wrap justify-content-center">
            <form action="{% url 'blog:search' %}" method="POST" class="row col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
              <div class="col-auto">
                <input name="search" type="search" class="form-control" placeholder="Search..." aria-label="Search">
              </div>
              <div class="col-auto">
                <button class="btn btn-primary btn-sm w-30 py-2" type="submit">検索</button>
              </div>
              {% csrf_token %}
            </form>
            {% if not user.is_authenticated %}

                <div class="text-end">
                    <a href="{% url 'signup:login' %}" class="btn btn-primary">ログイン</a>
                    <a href="{% url 'signup:index' %}" class="btn btn-success">新規登録</a>
                </div>

            {% endif %}

          </div>
        </div>
    </header>

    {% block content %}{% endblock %}
    <footer class="pt-4 my-md-5 pt-md-5 border-top" style="text-align: center;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <h1>Blog</h1>

                </div>
                <div class="col-12 col-md-4">
                    <h5>お問い合わせ</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'contact:contact' %}">お問い合わせフォーム</a></li>

                    </ul>
            </div>
        </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>
