{% extends "base.html" %}
{% block content %}

<div class="row" style="margin: 5em;">
    <div class="col-md-8 col-xs-1" >
        <div class="row">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" style="position: relative;">
                    <form action="{% url 'contact:contact' %}" method= "POST">
                        <h3>お問い合わせフォーム</h3>
                        <br>
                        <h4 style="color: red;">{{ message }}</h4>
                        <h4>お名前</h4>
                        <textarea name="name" style="width: 70%;height: 5vh; font-size: 30px;" ></textarea>
                        <h4>Email</h4>
                        <textarea name="email" style="width: 70%;height: 5vh; font-size: 30px;" ></textarea>
                        <h4>メッセージ</h4>
                        <textarea name="message" style="width: 100%;height: 40vh;" placeholder="お問い合わせ内容"></textarea>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary"  onclick="return confirm('送信しますか?')">送信</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}